  <section data-ng-controller = "messageController">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script type="text/ng-template" id="/home.html"></script>
    <div id="header-div"class="page-header">
    	<h1 id="head" class="col-md-7 col-md-offset-3">Welcome to the Message Board<h1>
    </div>
      <div class="col-md-7 col-md-offset-0" id="messages">
        <div id="posts" ng-repeat="post in posts | orderBy: 'count'">
          <div>
            <a ng-show="post.link" href="{{post.link}}">
              <b>
              {{post.title}}
              </b>
            </a>
            <span ng-hide="post.link">
              <b>
              {{post.title}}
              </b>
            </span>
          </div>
          <div>
            <a ng-show="post.link" href="{{post.link}}">
              {{post.content}}
            </a>
            <span ng-hide="post.link">
              {{post.content}}
            </span>
          </div>  
        </div>
      </div>
      <div class="col-md-0 col-md-offset-10">
        <form ng-submit="addPost()"style="margin-top:30px;">
          <h3>Add a new post</h3>

          <div id="input" class="form-group">
            <input type="text"
              class="form-control"
              placeholder="Title"
              ng-model="title"></input>
          </div>
          <div id="input" class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Link"
            ng-model="link"></input>
          </div>
          <textarea id="input" type="text" ng-model="content" style="height:125px"></textarea>
          <button type="submit" class="btn btn-danger">Post</button>
        </form>
      </div>
        <style>
          #posts {
              background-color: #E8E8E8;
              width: 200px;
              height:75px;
              border: 1px solid;
          }
          #input{
            width: 200px;
          }
          #messages{
            width: 250px;
            height: 600px;
            border: 1px solid;
            overflow: auto;
          }
        </style>
  </section>