<section>

	<div class="page-header">
		<h1>Generate a Spread</h1>
	</div>

	<div class="row" ng-controller="DeckController" ng-init="find()">
		<div class="col-md-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Decks</h3>
				</div>
				<div class="panel-body">
					<div ng-repeat="deck in decks">
						<div class="thumbnail">
							<img ng-src="http://i.imgur.com/{{deck.images[0]}}" class="img-rounded" style="height:auto;width:auto;max-height:100px">
								<center>
								<div class="input-group">
									<button type="button" class="btn btn-info"  ng-hide="deck.inSpread" ng-click="onDeckClick(deck)" btn-checkbox>{{deck.name}}</button> 
									<button type="button" class="btn btn-primary" ng-show="deck.inSpread" ng-click="onDeckClick(deck)" btn-checkbox>{{deck.name}}</button> 
								</div>
								</center>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Spread</h3>
				</div>
				<div class="panel-body">
					<div ng-repeat="image in cardsInSpread" class="col-md-6">
						<div class="thumbnail">
							<img ng-src="http://i.imgur.com/{{image}}"  style="height:auto;width:auto;max-height:200px">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Options</h3>
				</div>
				<div class="panel-body">							
					<form class="form-horizontal" role="form" ng-submit="onGoClick()">
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
							<input type="text" class="form-control" ng-model="numDecks" placeholder="# of decks">
						</div>

						<div class="list-group">
							<a href="#" class="list-group-item">Make a Spread</a>
							<a href="#" class="list-group-item">Randomly Draw</a>
							<a href="#" class="list-group-item">Refresh Cards</a>
							<br clear = "both">
							<div class="input-group">
								<span class="input-group-btn pull-right">
									<button class="btn btn-default" type="submit">Refresh</button>
								</span>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

</section>
