<section>

	<div class="page-header">
		<h1>Generate a Spread</h1>
	</div>
	<div class="row" 
	<div class="row" ng-controller="DeckController" ng-init="find()">
		<div class="col-md-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Decks</h3>
				</div>
				<div class="panel-body">
					<div ng-repeat="deck in decks">
						<div class="thumbnail">
							<img ng-src="http://i.imgur.com/{{deck.images[0]}}" class="img-rounded" style="height:auto;width:auto;max-height:100px">
								<center>
								<div class="input-group">
									<button type="button" id="toggleOn" class="btn btn-info"  ng-hide="deck.inSpread" ng-click="onDeckClick(deck)" btn-checkbox>{{deck.name}}</button> 
									<button type="button" id="toggleOff" class="btn btn-primary" ng-show="deck.inSpread" ng-click="onDeckClick(deck)" btn-checkbox>{{deck.name}}</button>
								</div>								
								</center>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Spread</h3>
				</div>
				<div class="panel-body">
					<div ng-repeat="image in cardsInSpread" class="col-md-6">
						<div class="thumbnail" style="width: 250px; height= 250px; overflow=hidden">
							<a href="http://i.imgur.com{{image}}" target="_blank"><img ng-src="http://i.imgur.com{{image}}"  style="height:auto;width:auto;height:200px"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Options</h3>
				</div>
				<div class="panel-body">							
					<form class="form-horizontal" role="form" ng-submit="onRefreshClick()">
						<h4>Cards Per Deck</h4>
						<div class="input-group" style="margin-bottom: 25px" >
								<span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
								<input type="text" class="form-control" ng-model="cardsPerDeck" placeholder="Cards / Deck">
						</div>

						<div class="input-group" style="margin-bottom: 25px" >
							<button class="btn btn-default" ng-hide="randomize" ng-click="onRandomClick()" btn-checkbox>
								Randomize <i class="glyphicon glyphicon-random"></i>
							</button>
							<span class="input-group-btn">
								<button class="btn btn-primary" ng-show="randomize" ng-click="onRandomClick()" btn-checkbox>
									<i class="glyphicon glyphicon-random"></i>
								</button>
							</span>
							<input type="text" class="form-control" ng-show="randomize" ng-model="randomCardAmt" placeholder="Card Amount">
						</div>
						
						<div ng-repeat="deck in decks" >
							<div ng-show="deck.inSpread">
								<span class="label label-primary">{{deck.name}}</span>
								<div class="input-group input-group-sm" style="margin-bottom: 25px" >
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="onPlus()"><i class="glyphicon glyphicon-plus"></i></button>
											<button class="btn btn-default" type="button" ng-click="onMinus()"><i class="glyphicon glyphicon-minus"></i></button>
										</span>
										<input type="text" class="form-control" ng-model="cardsPerThisDeck" placeholder="#Cards" >
								</div>
							</div>
						</div>
						
						<span class="input-group-btn">
							<center>
								<button class="btn btn-default" type="submit">Refresh</button>
							</center>
						</span>
					</form>

				</div>
			</div>
		</div>
	</div>

</section>
