<section>

	<div class="page-header">
		<h1>View all Decks</h1>
	</div>
	
	<div class="row">
	
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			<img src="https://pbs.twimg.com/profile_images/2621574568/wmqnz3r6t89tmbq7n42m_normal.png"" alt="...">
			<div class="caption">
			<h3>Deck 1</h3>
			<p>Deck one's description</p>
			<p><a href="#" class="btn btn-primary" role="button">Browse</a> </p>
			</div>
			</div>
		</div>
		
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			<img src="https://pbs.twimg.com/profile_images/2621574568/wmqnz3r6t89tmbq7n42m_normal.png"" alt="...">
			<div class="caption">
			<h3>Deck 2</h3>
			<p>Deck two's description</p>
			<p><a href="#" class="btn btn-primary" role="button">Browse</a> </p>
			</div>
			</div>
		</div>
		
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			<img src="https://pbs.twimg.com/profile_images/2621574568/wmqnz3r6t89tmbq7n42m_normal.png"" alt="...">
			<div class="caption">
			<h3>Deck 3</h3>
			<p>Deck three's description</p>
			<p><a href="#" class="btn btn-primary" role="button">Browse</a> </p>
			</div>
			</div>
		</div>
	
	</div>

</section>
