<section data-ng-controller="DeckController" data-ng-init="find()">

	<div class="page-header">
		<h1>View all Decks</h1>
	</div>

	<div data-ng-repeat="deck in decks">

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="thumbnail">
				<img data-ng-src="http://i.imgur.com/{{deck.images[0]}}"  style="width:auto;height:200px">
				</div>
			<h3><a data-ng-href="#!/decks/{{deck._id}}" data-ng-bind="deck.name"></a></h3>
			<p data-ng-bind="deck.description || 'This deck has no description'"></p>
			<p>
				<a href="#" id="browse" class="btn btn-primary" role="button" data-ng-href="#!/decks/{{deck._id}}">Browse</a>
				<a href="#" id="edit" class="btn btn-primary" role="button" data-ng-href="#!/decks/{{deck._id}}/edit">Edit</a>
				<a id="delete" data-ng-click="remove(deck)" class="btn btn-primary" role="button">Delete</a>
			</p>
	</div>

</section>
